/*cria variável - paleta de cor*/
:root{
    --vermelho:#e53939;
    --preto:#000000;
    --branco:#ffffff;
    --brancotranparent:#ffffff1b;
}/*configuração de toda a página*/
*{
    padding: 0;
    margin: 0;
    list-style: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*cor do body */
body{
    background-color: var(--preto);
    color: var(--branco);
}
main{
    display: flex;
    flex-direction: column;  
}    
article{
    padding: 70px 17% 60px; 
}
span{
    color: var(--vermelho);   
}
section{
    padding: 10px 10% 60px;
}
/*menu | navbar*/
header{
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    width: 100%;
    background-color: transparent;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: all .50s ease;   
}
.logo{
    width: 70px;
}
.nav{
    display: flex; 
    margin: 20px;  
    transition: all .50s ease;
    flex-wrap: wrap;
    justify-content: center;   
}
.nav a{
    margin: 5rem;
    color: var(--vermelho);
    font-size: 1.2rem;
    cursor: pointer;
}
.nav a:hover{
    color: var(--branco);
}
/*banner */
.banner{
    position: relative;
    height: 100vh;
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.banner-text h4{
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
}
.banner-text h3{
    font-size: 2rem;
}
/*about*/
.about{
    background-color:var(--brancotranparent); 
    width: 100%;
    align-items: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap
}
.about-text h4{
    font-size: 1.9rem;
    margin-bottom: 3rem;
}
.about-text h3{
    font-size: 1rem;
    margin-bottom: 1rem;
}
/*skills*/
.skills h2{
    font-size: 1.9rem;
    text-align: center;
}
.skills-hard p a{
    font-size: 1rem;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.skills-hard{
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .50s ease;
    flex-wrap: wrap
}
ul li img{
   margin: 1rem;
}
/*motivation*/
.motivation{ 
    background-color:var(--brancotranparent); 
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;        
}
.motivation h2{
    font-size: 1.9rem;
    margin: 1rem;
} 
.motivation p{
    margin-bottom: 2rem;
    text-align: justify;
    max-width: 80%;   
}
/*contact*/
.contact{
    margin: auto;
    text-align: center;
    font-size: 1.2rem;
}
.contact h2{
    margin: auto;
    
}
/*footer*/
footer{
    background-color: var(--brancotranparent);
    text-align: center;
    padding: 5rem;
}